.promo-banner{
    margin-top: 1rem;
    margin-bottom: 3rem;
    padding: 3rem;
    background: #9ACD32;
    text-align: center;
  }
  .promo-banner h2  {
    font-size: 3rem;
    color: white;
  }
  .promo-banner p{
    font-size: 0.8rem;
    color: white;
  }
  .promo-banner a:hover{
    background-color: #5a5a5a;
    color: #fff;
  }
  